@import '../../../@theme/styles/themes';

:host {
  height: 100%;
}

:host > .slot {
  height: 100%;
}

@include nb-install-component() {

  .header {
    width: calc(100% - 16px);
    margin: 8px 8px 0;
  }

  .header-data {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 15px 32px;
    overflow: visible;
    cursor: pointer;
  }

  .header-card {
    height: 64px;
  }

  .header-background {
    background-color: nb-theme(orders-header-background-color);
  }

  .orders-container {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
  }

  @media (max-width: 1024px) {
    .orders-container {
      display: flex;
    }

  }

  @media (max-width: 768px) {
    .header-data {
      padding: 7px 12px;
      display: flex;
    }
    .orders-container {
      display: flex;
    }
  }

  @media (max-width: 480px) {
    .orders-container {
      display: flex;
    }

  }

  @media (max-width: 320px) {
    .orders-container {
      display: flex;
    }

  }
}
